body {
   
    background-image: url("https://www.solarwindsmsp.com/sites/solarwindsmsp/files/blog/2017/10/local_admin_rights.jpg");
background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
 
  }
  